body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.center-container {
    display: flex;
    flex-direction: column;
}

.code {
  font-size: 14px;
  border-radius: 20px;
  padding: 50px 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .code {
    font-size: 30px;
    justify-content: center;
  }
}